hr {color:sienna;}
p {
	margin-left:20px;
	text-align: center;
    color:red;
	/* float: left; 排序方式 */
}
h3{
	color: #FF0000;
}
a.mui-navigate-right {list-style-type: circle;
font-style: oblique;
}
img{
	border-radius: 20px;
}
body{
/* 	/* background-attachment: ; 跟随内容滚动*/
	/* background-image: url("http://img.zcool.cn/community/015da9554971170000019ae9f43459.jpg@2o.jpg"); */ */
}
/* 派生选择器 父标签 空格 子标签 */
/* id 选择器 #id */
/* 类选择器 .class */
/* 属性选择器  */